/*
 * 1. admin css
 * 2. admin member list css
 * 3. admin member detail css
 * 
 * 
 * 
 * 
 * 
 */
 
 /* ------------------------------ 1. admin css ------------------------------ */
 
 

#admin-title {
	background: #bdbdbd;
}

#admin-title h1 {
	width: 100%;
	text-align: center;
}

#admin-tap ul {
	display: flex;
}

#member-search {
	border-bottom: 1px solid;
	margni-bottom: 20px;
}