/* 
 * 1. @import url
 * 2. funding list css
 * 3. funding detail css
 */

/* ------------------------------ 1. @import url ------------------------------ */
/* @import url("./style.css"); */

/* ------------------------------ 2. funding list css ------------------------------ */

#main {
	border-top: 1px solid #e0e0e0;
	}

	#main .count-option {
		width: 100%;
		height: 20px;
		margin: 40px 0 15px;
		display: flex;
		justify-content: space-between;
		align-items: center; 
	}
	
		#main .count-option .list-count {
			display: inline-block;
			font-size: 14px;
		}
			
			#main .count-option .list-count span:last-child {
				color: #1f9eff;
				margin-left: 5px; 
			}
			
		
		#main .count-option .list-option {
			display: inline-block; 
		}
		
			#main .count-option .list-option input {
				display: none;
			}
			
				#main .count-option .list-option label {
					margin-left: 5px;
					position: relative;
					color: #666;
					font-size: 14px;
				}
			
					#main .count-option .list-option input+label:before {
						content: "";
						display: inline-block;
						width: 15px;
						height: 15px;
						border: 1px solid #e3e3e3;
						margin-right: 10px;
						position: absolute;
						top: 3px;
						left: -20px;
					}
					
					#main .count-option .list-option input:checked+label:before {
						content: "";
					}

					#main .count-option .list-option input:checked+label:after {
						content: "";
						width: 7px;
						height: 7px;
						border: solid #000;
						border-width: 0 1px 1px 0;
						transform: rotate(45deg);
						position: absolute; 
						top: 6px;
						left: -15px;
					}
			#main .count-option .list-option select {
				width: 130px;
				height: 34px; 
				margin-left: 15px;
				border: 1px solid #e3e3e3;
				color: #666;
				font-size: 14px;
				padding: 0 5px;
			}
		
		
	#main .funding-list {}

		#main .funding-list ul {
			width: 100%; 
			display: flex;
			flex-flow: wrap;
		}
		
			#main .funding-list ul li {
				width: 285px;
				height: 365px;
				margin: 0 0 20px 20px;
				border: 1px solid #d2d2d2;
			}
			
			#main .funding-list ul li:nth-child(4n+1) {
				margin-left: 0;
			}
			
			#main .funding-list ul li:hover {
				border: 1px solid #0081e0;
			}
			
			#main .funding-list ul li.first-page-img {
				background: url("../images/subImg.jpg");
				background-size: cover; 
				vertical-align: top;
			}
				
			#main .funding-list ul .first-page-img:hover {
				border: 1px solid #d2d2d2;
			}
			
				#main .funding-list ul li a {
					display: block;
					width: 100%;
					height: 100%; 
				}
				
					#main .funding-list ul li a .item-img {
						width: 100%;
						height: 180px;
						background: #eee; 
						border: none;
						overflow: hidden; 
					}
					
						#main .funding-list ul li a .item-img img {
							width: 100%;
							height: 100%;
							transition: transform 0.5s ease;
						}
						
						#main .funding-list ul li:hover a .item-img img {
							transform: scale(1.1);
						}
					
					#main .funding-list ul li a .item-info {
						padding: 25px 25px 15px;
					}
					
						#main .funding-list ul li a .item-info .title {
							font-size: 18px;
							line-height: 30px; 
							font-weight: bold;
							color: #333;
						}
						
						#main .funding-list ul li a .item-info .category {
							font-size: 14px;
							line-height: 36px;
							display: flex;
							margin-top: 10px;  
						}
						
							#main .funding-list ul li a .item-info .category span {
								line-height: inherit;
 								color: #666;
 								display: inline-block;
							}
						
							#main .funding-list ul li a .item-info .category span:first-child {
								color: #333;
							}
							
							#main .funding-list ul li a .item-info .category span+span {
								margin-left: 24px;
								position: relative;
							}
							
								#main .funding-list ul li a .item-info .category span+span:before {
									content: "";
									position: absolute;
									width: 1px;
									height: 14px;
									background: #959595;
									top: 50%;
									left: -12px;
									transform: translateY(-50%);
								}
								
						#main .funding-list ul li a .item-info .graph {
							width: 100%;
							height: 6px; 
							background: #e8e8e8;
							overflow: hidden; 
						}
						
							#main .funding-list ul li a .item-info .graph .percent {
								height: inherit;
								background: #1f9eff;
								max-width: 100%; 
							}
							
							#main .funding-list ul li.complete a .item-info .graph .percent {
								background: #00b331;
							}
							
						#main .funding-list ul li a .item-info .gvalue {
							width: 100%;
							display: flex;
							justify-content: space-between;
						}
						
							#main .funding-list ul li a .item-info .gvalue span {
								font-size: 16px;
								line-height: 36px;
								color: #666;
							}
						
						
							#main .funding-list ul li a .item-info .gvalue span:first-child {
								color: #1a85d6;
								font-weight: bold;
							}




/* ------------------------------ 3. funding detail css ------------------------------ */

#funding-title {
	width: 100%;
	min-width: 1200px;
	text-align: center;
	height: 140px;
	background: #f4f4f4;
	position: relative;
	padding-top: 70px;
}

	#funding-title>h1 {
		font-size: 28px;
		font-weight: normal;
	}
	
	#funding-title .category {
		width: 62px;
		height: 20px;
		line-height: 20px;
		background: #222526;
		color: #fff;
		font-size: 13px;
		text-align: center;
		position: absolute;
		top: 30px;
		left: 50%;
		transform: translateX(-50%);
	}
	
#funding-tap {
	width: 100%;
	height: 40px;
	border-top: 1px solid #d2d2d2;
}

	#funding-tap .center ul {
		height: inherit;
		display: flex;
		justify-content: center;
	}
	
		#funding-tap .center ul li {
			width: 100px;
			margin: 0 30px;
			line-height: 40px;
			text-align: center; 
			color: #999;
			font-size: 16px;
		}
		
		#funding-tap .center ul li:hover {
			color: #0081e0;
			font-weight: bold;
		}

#funding-content {
	border-top: 1px solid #d2d2d2;
}

	#funding-content .center {
		border: solid #d2d2d2;
		border-width: 0 1px;
		display: flex;
	}

	#funding-content .funding-detail {
		width: 820px;
		border-right: 1px solid #d2d2d2;
	}



	#funding-content .funding-info {
		display: flexbox;
	}
