/* 
 * 1. notice list css
 * 2. notice reg css
 */



/* ------------------------------ 1. notice list css ------------------------------ */
#main.notice {
	padding-top: 50px;
	
}


#main.notice>h1 {
	width: 100%;
	min-width: 1200px;
	height: 85px;
	font-size: 32px;
	text-align: center; 
	line-height: 85px;
	border-top: 1px solid #e5e5e5;
}

	#notice-title {
		border: solid #e5e5e5;
		border-width: 1px 0;
	}

	#notice-title, #notice-title>h1 {
	 	width: 100%;
		min-width: 1200px;
		text-align: center;
		height: 140px;
		background: #f4f4f4;
		position: relative;
		line-height: 140px;
		font-size: 28px;
		font-weight: normal;
	 }

	#notice-tab {
		width: 100%;
		height: 40px;
		border: solid #e5e5e5;	
		border-width: 1px 0;
	}
	
		#notice-tab .center ul {
			height: inherit;
			display: flex;
			justify-content: center;
		}
		
			#notice-tab .center ul li {
				width: 100px;
				margin: 0 30px;
				line-height: 40px;
				text-align: center; 
				color: #999;
				font-size: 16px;
			}
	 
	 		#notice-tab .center ul li:hover {
				color: #0081e0;
				font-weight: bold;
	 		}
	 		
		 		#notice-tab .center ul li a {
		 			display: block;
		 			width: 100%;
		 			height: 100%;
		 			line-height: inherit;
		 		}


	#main .notice-table {
		padding-top: 30px; 
		position: relative;
	}
	
		#main .notice-table label {
			position: absolute;
			top: 0;
			left: 0;
		}

		#main .notice-table table {
			width: 100%; 
			border-collapse: collapse;
			text-align: center; 
		}
	
		#main .notice-table table thead {
			background: #ebebeb;
			font-weight: bold;
		}
		
			#main .notice-table table thead tr th {
				border-left: 1px solid #fff;
				border-right: 1px solid #fff;
			}
		
		#main .notice-table table tbody {
			color: #666; 
		}
	
		#main .notice-table table tr {
			height: 40px;
		}

			#main .notice-table table tr td {
				border: 1px solid #e5e5e5;
			}
			
			#main .notice-table table tbody tr td.title {
				text-align: left; 
				padding-left: 35px;
			}
			
	#main .notice-table .notice-reg {
		border: 1px solid #e5e5e5;
		margin: 10px 0 10px auto;
		width: 100px;
		height: 35px;
		background: #0081e0;
		float: right;
	}
	
		#main .notice-table .notice-reg a {
			display: block;
			width: 100%;
			height: 100%;
			text-align: center;
			color: #fff;
			line-height: 35px;
			font-size: 14px;
		}
		
		#main .notice-table .notice-reg:after {
			clear: both;
		}
			
			
/* ------------------------------ 2. notice reg css ------------------------------ */





