/*
 * 1. signUp css
 * 2. login css
 * 
 */
 
 /* ------------------------------ 1. signUp css ------------------------------ */
#main.sign {
}

	#main.sign div {
		padding: 0 30px 30px;
	}

	#main.sign div * {
	 	display: block;
	 }

		#main.sign form input {
 			display: block;
 			width: 100%;
 			height: 40px;
 			line-height: 40px;
 			border: 1px solid #e5e5e5;
 			border-radius: 5px;
 			margin-bottom: 5px;
 			padding: 0 10px;
 			font-size: 13px;
 		}
 		
 		#main.sign form p {
 			font-size: 13px;
 			color: #888;
 			padding: 10px;
 			line-height: 16px;
 		}
 		
 		#main.sign form input[type=checkbox] {
 			width: auto;
 			height: auto;
 			display: inline-block;
 			margin: 20px 0 0 10px;
 		} 
 		
 		#main.sign form input+label {
		    display: inline-block;
		    font-size: 13px;
		    line-height: 17px;
		    color: #888;
		    vertical-align: text-top;
 		}
 		
 		#main.sign form input[type=submit] {
 			background: #0081e0;
 			color: #fff;
 			font-size: 16px;
 			margin-top: 20px;
 			height: 50px;
 			font-weight: bold;
 		}
 
 /* ------------------------------ 2. login css ------------------------------ */
 
 #main.log, #main.sign {
	width: 100%;
	min-width: 1200px;
 }
 
 #main.log div,  #main.sign div {
    width: 400px;
    margin: 70px auto;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    background: #fff;
 }
 
 
 #main.log h1, #main.sign h1 {
 	width: 100%;
	text-align: center;
	height: 140px;
	line-height: 140px;
	font-size: 28px;	
 }
 
 	#main.log  form {
 		width: 300px;
 		margin: 0 auto 50px;
 	}
 	
 		#main.log form input, #main.log form a {
 			display: block;
 			width: 100%;
 			height: 40px;
 			line-height: 40px;
 			border: 1px solid #e5e5e5;
 			border-radius: 5px;
 			margin-bottom: 5px;
 			padding: 0 10px;
 			font-size: 13px;
 		}
 		
 		#main.log form input[type=submit], #main.log form a {
 			text-align: center;
 			font-size: 16px;
 			height: 50px;
 			line-height: 50px;
 		}
 		
  		#main.log form input[type=submit] {
  			margin-top: 35px;
  			background: #0081e0;
  			color: #fff;
 			font-weight: bold;
 		}
 		
 		#main.log form a {
 			background: #c5d1da;
 			border: 0;
 		}
 		
 		#main.log form input[type=submit]:hover, #main.log form a:hover {
 			background: #e5e5e5;
 		}
 		
