/* 1. 모든 페이지 공통
 * 1-1. reset css
 * 1-2. header css +inc
 * 1-3. footer css +inc
 * 1-4. class css
 * 
 * 2. 일부 페이지 공통
 * 2-1. breadcrumb css +inc
 * 2-2. nav css +inc
 * 2-3. title css
 * 2-4. list-table css
 * 2-5. paging css +inc

 */

/* ------------------------------ 1-1. reset ------------------------------ */
*, html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol,
	ul, li, fidleset, form, label, button, input, textarea, select, option,
	table, thead, tbody, tr, td, th, caption, article, aside, nav, header,
	main, footer, section {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	background: none;
	font-size: 100%;
	font-family: 'Malgun Gothic', san-serif;
	letter-spacing: -1px;
	box-sizing: border-box;
	color: inherit;
	line-height: 1;
	box-shadow: none;
}

article, header, footer, nav, aside, section, main {
	display: block;
}

template {
	display: none;
}

a:link, a:focus, a:visited, a:active, a:hover {
	text-decoration: none;
	border: 0;
	color: inherit;
}

ol, ul, li, dl, dt, dd {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------ 1-2. header ------------------------------ */
#header {
	background: #fff; 
	height: 70px;
}

	#header .center {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	
		#header .center>h1 {
			display: inline-block;
			width: 152px;
			height: 29px;
		}
		
			#header .center>h1 a {
				display: block;
				width: 100%;
				height: 100%;
				background: url("../images/logo.png") no-repeat center;
				color: transparent;
				text-indent: -999%;
			}

		#header .center #gnb {
			display: inline-block;
			font-size: 18px;
			font-weight: bold;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		
			#header .center #gnb .main-menu {
				width: 250px;
				display: flex;
				justify-content: space-between; 			
			}
			
		#header .center #user-menu {
			display: inline-block;
		}
		
			#header .center #user-menu .user-direct {
				display: flex; 
				align-items: center; 
			}
			
				#header .center #user-menu .user-direct .log,
				#header .center #user-menu .user-direct .signup {
					width: 90px; 
					height: 34px;
					font-size: 16px;
					margin-left: 5px; 
					line-height: 30px; 
					text-align: center; 
					border: 1px solid #E3E3E3;
				}
				
				#header .center #user-menu .user-direct .log:hover,
				#header .center #user-menu .user-direct .signup:hover {
					background: #ebebeb;
				}
				
				#header .center #user-menu .user-direct .user {
					display: flex;
					align-items: center; 
				}
		
					#header .center #user-menu .user-direct .user img {
						width: 42px;
						height: 42px;
						border: 1px solid #d3d3d3;
						border-radius: 50%;
						overflow: hidden;
					}
					
					#header .center #user-menu .user-direct .user span {
						font-size: 16px; 
						margin-left: 15px; 
					}
					
					#header .center #user-menu .user-direct .user .user-button {
						width: 10px;
						height: 10px;
						border: 1px solid;
						border-color: transparent transparent #000 #000;
						transform: rotate(-45deg) translateY(-5px);
					}
		
				#header .center #user-menu .user-direct .search {
					width: 70px;
					height: 70px;
					line-height: 70px;
					background: #0081DF;
					margin: 0 0 0 30px;
				}
				
					#header .center #user-menu .user-direct .search a {
						display: block;
						position: relative;
						width: 100%;
						height: 100%;
					}
					
						#header .center #user-menu .user-direct .search a span {
							width: 20px;
							height: 20px;
							border-radius: 50%;
							border: 3px solid #fff;
							display: inline-block; 
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -55%); 
							color: transparent;
						}
						
							#header .center #user-menu .user-direct .search a span:after {
								content: "";
								position: absolute; 
								bottom: -5px;
								right: -5px;
								width: 0px;
								height: 8px;
								border: solid #fff; 
								border-width: 1px 0 1px 3px;
								transform: rotate(-50deg);
							}
							
		#header .center #mp-link {
			width: 179px;
			position: absolute;
			top: 69px; 
			right: 70px;
			z-index: 800;
			background: #fff; 
		}
		
			#header .center #mp-link ul {
				border: 1px solid #d8d8d8; 
			}
			
				#header .center #mp-link ul li {
					font-size: 16px;
					line-height: 40px;
					text-align: center;
					transition: all 0.5s ease;
				}
				
				#header .center #mp-link ul li+li {
					border-top: 1px solid #d8d8d8; 
				}
				
				#header .center #mp-link ul li:hover {
					background: #434343;
					color: #fff;
					font-weight: bold;
				}
		
		

/* ------------------------------ 1-3. footer ------------------------------ */
#footer {
	background: #161617; 
	height: 250px;
}

	#footer .center {
		text-align: center;
		padding: 40px 0; 
	}
	
		#footer .center .customer-menu {
			width: 480px; 
			display: inline-block;
		}
		
			#footer .center .customer-menu ul {
				display: flex; 
				justify-content: center; 
			}
			
				#footer .center .customer-menu ul li {
					color: #fff;
					padding: 0 10px; 
					font-size: 14px;
					line-height: 28px; 
				}
			
				#footer .center .customer-menu ul li:nth-child(2) {
					color: #dfb306;
				}
		
		#footer .center .company-copy {
			display: inline-block;
			color: #fff;
			margin-top: 30px;
		}
		
			#footer .center .company-copy dl,
			#footer .center .company-copy div {
				display: flex;
				justify-content: center;
				font-size: 14px;
				line-height: 22px;
				opacity: 0.2;
			}
			
				#footer .center .company-copy dl dd,
				#footer .center .company-copy dl dt {
					font-size: inherit;
					line-height: inherit;
				}
			
			#footer .center .company-copy .copyright {
				font-size: 14px;
				line-height: 28px;
				opacity: 0.4;
				margin-top: 10px;
			} 





/* ------------------------------ 1-4. class ------------------------------ */
.hidden {
	display: none;
}

.center {
	width: 1200px;
	height: inherit;
	margin: 0 auto;
}

.class {
	display: block;
	width: 100%;
	height: 100%;
}





/* ------------------------------ 2-1. breadcrumb ------------------------------ */
#breadcrumb {
	height: 40px;
}

	#breadcrumb ul {
		height: inherit;
		display: flex;
	}
	
		#breadcrumb ul li {
			font-size: 13px;
			position: relative;
			padding: 0 20px;
			line-height: 40px;
		}
			
			#breadcrumb ul li+li:before {
				content: "";
				width: 6px;
				height: 6px;
				background: #333;
				transform: translateY(-50%) rotate(45deg);
				position: absolute;
				margin-top: 1px;
				top: 50%;
				left: -10px;
			}
			
			#breadcrumb ul li+li:after {
				content: "";
				width: 6px;
				height: 6px;
				background: #f4f4f4;
				transform: translateY(-50%) rotate(45deg);
				position: absolute;
				margin-top: 1px;
				top: 50%;
				left: -11px;
			}

		#breadcrumb ul li:first-child {
			width: 40px;
			padding: 0;
			border: solid #e5e5e5;
			border-width: 0 1px;
			background: url("../images/home.png") no-repeat center;
		}
		
			#breadcrumb ul li:first-child+li:before, #breadcrumb ul li:first-child+li:after {
				display: none;
			}
		
			#breadcrumb ul li:first-child a {
				display: block;
				width: 100%;
				height: 100%; 
				color: transparent;
				text-indent: -999%;
			}




/* ------------------------------ 2-2. nav ------------------------------ */
#nav {
	background: #fff; 
	height: 157px;
	border-top: 1px solid #e5e5e5; 
}

	#nav .center {
	}
	
		#nav .center .category {
			display: inline-block;
			display: flex;
			height: inherit;
			justify-content: space-around;
			align-items: center;
		}
		
			#nav .center .category li {
				width: 70px;
			}
			
					#nav .center .category li a div {
						width: 64px;
						height: 64px;
						background: #ebebeb;
						border: 1px solid #e3e3e3;
						border-radius: 50%;
						margin: 0 auto 10px; 
						transition: all 0.5s ease;
						position: relative; 
						overflow: hidden;
					}
					
						#nav .center .category li a div:before {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							background-repeat: no-repeat;
							background-position: center;
							width: 100%;
							height: 100%; 
							opacity: 0.3;
							z-index: 10;
						}

						#nav .center .category li:first-child a div:before {
							background-image: url("../images/all.png");
						}
						
						#nav .center .category li:nth-child(2) a div:before {
							background-image: url("../images/food.png");
						}
						
						#nav .center .category li:nth-child(3) a div:before {
							background-image: url("../images/snack.png");
						}
						
						#nav .center .category li:nth-child(4) a div:before {
							background-image: url("../images/poo.png");
						}
						
						#nav .center .category li:nth-child(5) a div:before {
							background-image: url("../images/health.png");
						}
						
						#nav .center .category li:nth-child(6) a div:before {
							background-image: url("../images/beauty.png");
						}
						
						#nav .center .category li:nth-child(7) a div:before {
							background-image: url("../images/play.png");
						}
						
						#nav .center .category li:nth-child(8) a div:before {
							background-image: url("../images/house.png");
						}
						
						#nav .center .category li:nth-child(9) a div:before {
							background-image: url("../images/style.png");
						}
						
						#nav .center .category li:nth-child(10) a div:before {
							background-image: url("../images/cage.png");
						}
				
					#nav .center .category li:hover a div {
						background: #0081e0;
						border-color: #0081e0;
					}
				
						#nav .center .category li:hover a div:before {
							content: "";
							opacity: 1;
							filter: invert(100%);
						}
			
					#nav .center .category li a span {
						font-size: 13px;
						color: #666;
						text-align: center; 
						display: inline-block;
						width: 100%;
					}		





/* ------------------------------ 2-3. title ------------------------------ */
#title {
	width: 100%;
	min-width: 1200px;
	height: 140px;
	background: #f4f4f4;
	position: relative;
}

	#title>h1 {
		width: 100%;
		height: inherit;
		line-height: 140px;
		text-align: center;
		font-size: 28px;
		font-weight: normal;
	}
	
#tab {
	width: 100%;
	height: 40px;
	border-top: 1px solid #e5e5e5;
}

	#tab .center ul {
		height: inherit;
		display: flex;
		justify-content: center;
	}
		
		#tab .center ul li {
			width: 100px;
			margin: 0 30px;
			line-height: 40px;
			text-align: center; 
			color: #999;
			font-size: 16px;
		}
		
		#tab .center ul li:hover {
			color: #0081e0;
			font-weight: bold;
		}
		
			#tab .center ul li a {
				display: block;
				width: 100%;
				height: 100%;
				line-height: inherit;
			}




/* ------------------------------ 2-4. list-table ------------------------------ */
.list-table {
	width: 100%;
	border-collapse : collapse;
	text-align: center;
	table-layout : fixed;
}

	.list-table thead {
		background: #c6c9cc;
		font-weight: bold;
	}
	
			.list-table thead tr th {
				border: 1px solid;
				border-color: #e5e5e5 #fff;
			}
		
	.list-table tbody {
		color: #666; 
	}

		.list-table tr {
			height: 40px;
		}
		
			.list-table tr td {
				border: 1px solid #e5e5e5;
			}
			
			.list-table tbody tr td.title {
				text-align: left;
				padding-left: 35px; 
			}

	.list-table.column tr {
		height: auto;
	}
	
		.list-table.column tr td:first-child {
			border-color: #fff #e5e5e5e5;
			background: #c6c9cc;
			width: 200px;
		}
		
		.list-table.column tr td:last-child {
			text-align: left;
			padding: 0 30px;
		}





/* ------------------------------ 2-5. paging ------------------------------ */
#paging {
	width: 100%;
	margin: 50px 0;
	display: flex;
	justify-content: center;
}

	#paging div,
		#paging ul li {
			width: 27px;
			height: 27px;
			line-height: 27px;
			font-size: 12px;
			border: 1px solid #e5e5e5;
		} 

	#paging div {
		position: relative;
	}

		#paging div a {
			display: block;
			width: 100%;
			height: 100%;
			text-indent: -999%;
			color: transparent;
		}

		#paging div:before {
			content: "";
			width: 6px;
			height: 6px;
			border: 1px solid;
			position: absolute;
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
		}
		
		#paging .prev-page:before {
			left: 9px; 
			border-color: transparent transparent #666 #666;
		}
		
		#paging .next-page:before {
			right: 9px;
			border-color: #666 #666 transparent transparent;
		}
		
	#paging div+ul,
	#paging ul+div,
		#paging ul li+li {
			margin-left: 5px;
		}
	
	#paging ul {
		display: flex;
	}
	
		#paging ul li:hover {
			background: #222526;
			color: #fff; 
		}
		
			#paging ul li a {
				display: block;
				width: 100%;
				height: 100%;
				line-height: inherit;
				font-size: inherit;
				text-align: center;
				color: #666;
			}





/* ------------------------------ 2-6. inc identity ------------------------------ */
.b-fundinglist #nav {
	background: #fbfbfb;
}

	.b-fundingdetail #main #title {
		padding-top: 70px;
		height: 140px;
	}
	
		.b-fundingdetail #main #title .category {
			width: 62px;
			height: 20px;
			line-height: 20px;
			background: #222526;
			color: #fff;
			font-size: 13px;
			text-align: center;
			position: absolute;
			top: 30px;
			left: 50%;
			transform: translateX(-50%);
		} 
		
		.b-fundingdetail #main #title>h1 {
			height: auto;
			line-height: 1;
		}
		
.b-fundingreg #breadcrumb, .b-fundingreg #main {
	border-top: 1px solid #e5e5e5;
}

