/* 
 * 1. @import url
 * 2. 공통 css
 * 3. header css
 * 4-1. nav css
 * 4-2. breadcrumb css
 * 4-3. list table css
 * 5-1. main paging css
 * 6. footer css
 */

/* ------------------------------ 1. @import url ------------------------------ */
@import url(./reset.css);


/* ------------------------------ 2. 공통 css ------------------------------ */
.center {
	width: 1200px;
	height: inherit;
	margin: 0 auto;
}

.hidden {
	display: none;
}


/* ------------------------------ 3. header css ------------------------------ */


#header {
	background: #fff; 
	height: 70px;
	border-bottom: 1px solid #e0e0e0; 
	font-family : "Malgun Gothic", "Gothic", san-serif;
}

	#header .center {
		display: flex;
		justify-content: space-between;
		align-items: center; 
		position: relative;
	}

		#header .center>h1 {
			display: inline-block;
			width: 152px;
			height: 29px;
			background: url("../images/logo.png") no-repeat center;
			color: transparent;
			text-indent: -999%;
		}
	
		#header #gnb {
			display: inline-block;
			font-size: 18px;
			font-weight: bold;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		
			#header #gnb .main-menu {
				width: 250px;
				display: flex;
				justify-content: space-between; 
			}
		
		#header #user-menu {
			display: inline-block;
		}

			#header #user-menu .user-direct {
				display: flex; 
				align-items: center; 
			}
			
				#header #user-menu .user-direct .log, #header #user-menu .user-direct .signup {
					width: 90px; 
					height: 34px;
					font-size: 16px;
					margin-left: 5px; 
					line-height: 30px; 
					text-align: center; 
					border: 1px solid #E3E3E3;
				}
				
				#header #user-menu .user-direct .log:hover, #header #user-menu .user-direct .signup:hover {
					background: #ebebeb;
				}
				
				#header #user-menu .user-direct .user {
					display: flex;
					align-items: center; 
				}
				
					#header #user-menu .user-direct .user img {
						width: 42px;
						height: 42px;
						border: 1px solid #d3d3d3;
						border-radius: 50%;
					}
					
					#header #user-menu .user-direct .user span {
						font-size: 16px; 
						margin-left: 15px; 
					}
					
					#header #user-menu .user-direct .user .user-button {
						width: 10px;
						height: 10px;
						border: 1px solid;
						border-color: transparent transparent #000 #000;
						transform: rotate(-45deg) translateY(-5px);
					}
			
				#header #user-menu .user-direct .search {
					width: 70px;
					height: 70px;
					line-height: 70px;
					background: #0081DF;
					margin: 0 0 0 30px;
				}
				
					#header #user-menu .user-direct .search a {
						display: block;
						position: relative;
						width: 100%;
						height: 100%;
					}
					
						#header #user-menu .user-direct .search a span {
							width: 20px;
							height: 20px;
							border-radius: 50%;
							border: 3px solid #fff;
							display: inline-block; 
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -55%); 
							color: transparent;
						}
						
							#header #user-menu .user-direct .search a span:after {
								content: "";
								position: absolute; 
								bottom: -5px;
								right: -5px;
								width: 0px;
								height: 8px;
								border: solid #fff; 
								border-width: 1px 0 1px 3px;
								transform: rotate(-50deg);
							}
							
		#header #mp-link {
			width: 179px;
			position: absolute;
			top: 69px; 
			right: 70px;
			z-index: 800;
			background: #fff; 
		}
		
			#header #mp-link ul {
				border: 1px solid #d8d8d8; 
			}
			
				#header #mp-link ul li {
					font-size: 16px;
					line-height: 40px;
					text-align: center;
					transition: all 0.5s ease;
				}
				
				#header #mp-link ul li+li {
					border-top: 1px solid #d8d8d8; 
				}
				
				#header #mp-link ul li:hover {
					background: #434343;
					color: #fff;
					font-weight: bold;
				}


/* ------------------------------ 4-1. nav css ------------------------------ */

#nav {
	background: #fff; 
	height: 157px;
}


#nav.ca {
	background: #fbfbfb;
}

	#nav .center {		
	}
	
		#nav .center .category {
			display: inline-block;
			display: flex;
			height: inherit;
			justify-content: space-around;
			align-items: center;
		}
		
			#nav .center .category li {
				width: 70px;
			}
			
				#nav .center .category li a div {
					width: 64px;
					height: 64px;
					background: #ebebeb;
					border: 1px solid #e3e3e3;
					border-radius: 50%;
					margin: 0 auto 10px; 
					transition: all 0.5s ease;
					position: relative; 
					overflow: hidden;
				}
				
				#nav .center .category li a div:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					background-repeat: no-repeat;
					background-position: center;
					width: 100%;
					height: 100%; 
					opacity: 0.3;
					z-index: 10;
				}

				#nav .center .category li:first-child a div:before {
					background-image: url("../images/all.png");
				}
				
				#nav .center .category li:nth-child(2) a div:before {
					background-image: url("../images/food.png");
				}
				
				#nav .center .category li:nth-child(3) a div:before {
					background-image: url("../images/snack.png");
				}
				
				#nav .center .category li:nth-child(4) a div:before {
					background-image: url("../images/poo.png");
				}
				
				#nav .center .category li:nth-child(5) a div:before {
					background-image: url("../images/health.png");
				}
				
				#nav .center .category li:nth-child(6) a div:before {
					background-image: url("../images/beauty.png");
				}
				
				#nav .center .category li:nth-child(7) a div:before {
					background-image: url("../images/play.png");
				}
				
				#nav .center .category li:nth-child(8) a div:before {
					background-image: url("../images/house.png");
				}
				
				#nav .center .category li:nth-child(9) a div:before {
					background-image: url("../images/style.png");
				}
				
				#nav .center .category li:nth-child(10) a div:before {
					background-image: url("../images/cage.png");
				}
				
				#nav .center .category li:hover a div {
					background: #0081e0;
					border-color: #0081e0;
				}
				
				#nav .center .category li:hover a div:before {
					content: "";
					opacity: 1;
					filter: invert(100%);
				}
			
				#nav .center .category li a span {
					font-size: 13px;
					color: #666;
					text-align: center; 
					display: inline-block;
					width: 100%;
				}		



/* ------------------------------ 4-2. breadcrumb css ------------------------------ */
#breadcrumb {
	--background: #f4f4f4;
	height: 40px;
}

	#breadcrumb ul {
		height: inherit;
		display: flex;
	}
	
		#breadcrumb ul li {
			font-size: 13px;
			position: relative;
			padding: 0 20px;
			line-height: 40px;
		}
		
		#breadcrumb ul li:first-child {
			width: 40px;
			padding: 0;
			position: relative;
			border: solid #e5e5e5;
			border-width: 0 1px;
			background: url("../images/home.png") no-repeat center;
		}
		
			#breadcrumb ul li:first-child a {
				display: block;
				width: 100%;
				height: 100%; 
				color: transparent;
				text-indent: -999%;
			}
		
		#breadcrumb ul li:last-child {
			padding-left: 0;
			position: relative;
			padding-left: 10px;
		}
			
			#breadcrumb ul li:last-child:before {
				content: "";
				width: 6px;
				height: 6px;
				background: #333;
				transform: translateY(-50%) rotate(45deg);
				position: absolute;
				margin-top: 1px;
				top: 50%;
				left: -10px;
				
				--margin-right: 20px;
			}
			
			#breadcrumb ul li:last-child:after {
				content: "";
				width: 6px;
				height: 6px;
				background: #f4f4f4;
				transform: translateY(-50%) rotate(45deg);
				position: absolute;
				margin-top: 1px;
				top: 50%;
				left: -11px;
			}
			
			
/* ------------------------------ 4-3. list table css ------------------------------ */

.list-table {
	width: 100%;
	border-collapse : collapse;
	text-align: center;
}

	.list-table thead {
		background: #ebebeb;
		font-weight: bold;
	}
	
	.list-table tbody {
		color: #666; 
	}

		.list-table tr {
			height: 40px;
		}
		
			.list-table tr td {
				border: 1px solid #e5e5e5;
			}
			
			.list-table tbody tr .title {
				text-align: left;
				padding-left: 35px; 
			}


/* ------------------------------ 5-1. paging css ------------------------------ */


#main {
	background: #fff;
}

	#main .paging {
		margin: 30px 0 50px;
		display: flex;
		justify-content: center; 
	}
	
		#main .paging div a {
			display: block;
			width: 100%;
			height: 100%; 
			text-indent: -999%;
			color: transparent;
		}
	
		#main .paging div, #main .paging ul li {
			width: 27px;
			height: 27px;
			font-size: 12px;
			border: 1px solid #e5e5e5;
			text-align: center;
			color: #666;
			line-height: 27px;
		}
		
		#main .paging div+div, #main .paging div+ul, #main .paging ul+div, #main .paging li+li {
			margin-left: 5px; 
		}
		
		#main .paging ul {
			display: flex; 
		}
		
			#main .paging ul li:hover {
				background: #222526;
				color: #fff;
			}
			
		#main .paging .first-page, #main .paging .prev-page, #main .paging .next-page, #main .paging .end-page {
			position: relative; 
		}
		
			#main .paging .first-page:before, #main .paging .first-page:after, #main .paging .prev-page:before, #main .paging .next-page:before, #main .paging .end-page:before, #main .paging .end-page:after {
				content: "";
				width: 6px;
				height: 6px;
				border: 1px solid;
				position: absolute;
				top: 50%; 
				transform: translateY(-50%) rotate(45deg);
			}
			
			#main .paging .first-page:before {
				left:  7px;
				border-color: transparent transparent #666 #666;
			}
			
			#main .paging .first-page:after {
				left: 13px;
				border-color: transparent transparent #666 #666;
			}
			
			#main .paging .prev-page:before {
				left: 9px;
				border-color: transparent transparent #666 #666;
			}
			
			#main .paging .next-page:before {
				right: 9px;
				border-color: #666 #666 transparent transparent;
			}
							
			#main .paging .end-page:before {
				right: 7px;
				border-color: #666 #666 transparent transparent;
			}
			
			#main .paging .end-page:after {
				right: 13px;
				border-color: #666 #666 transparent transparent;
			}



/* ------------------------------ 6. footer css ------------------------------ */


#footer {
	background: #303435; 
	height: 250px;
}

	#footer .center {
		text-align: center;
		padding: 40px 0; 
	}
	
		#footer .center .customer-menu {
			width: 480px; 
			display: inline-block;
		}
		
			#footer .center .customer-menu ul {
				display: flex; 
				justify-content: center; 
			}
			
				#footer .center .customer-menu ul li {
					color: #fff;
					padding: 0 10px; 
					font-size: 14px;
					line-height: 28px; 
				}
			
				#footer .center .customer-menu ul li:nth-child(2) {
					color: #dfb306;
				}
		
		#footer .center .company-copy {
			display: inline-block;
			color: #fff;
			margin-top: 30px;
		}
		
			#footer .center .company-copy dl, #footer .center .company-copy div {
				display: flex;
				justify-content: center;
				font-size: 14px;
				line-height: 22px;
				opacity: 0.2;
			}
			
				#footer .center .company-copy dl dd, #footer .center .company-copy dl dt {
					font-size: inherit;
					line-height: inherit;
				}
			
			#footer .center .company-copy .copyright {
				font-size: 14px;
				line-height: 28px;
				opacity: 0.4;
				margin-top: 10px;
			}